@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$warn-txt-col:darkred;
$reg-txt-col:antiquewhite;
@keyframes pulse1 {
  0% {
    font-size:1.8rem;
    color:$warn-txt-col;
    opacity:30%;
  }
  80% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
  100% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
}

@keyframes pulse2 {
  0% {
    font-size:1.7rem;
    color:$warn-txt-col;
    opacity:30%;
  }
  80% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
  100% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
}

@keyframes pulse3 {
  0% {
    font-size:1.6rem;
    color:$warn-txt-col;
    opacity:30%;
  }
  80% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
  100% {
    font-size:1.5rem;
    color:$reg-txt-col;
    opacity:0%;
  }
}

@keyframes shift {
  0% {
    color:$warn-txt-col;
  }
  80% {
    color:$reg-txt-col;
  }
  100% {
    color:$reg-txt-col;
  }
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size:24px;
  font-family:'Roboto', sans-serif;
}
#root {
  height:100vh;
  width:100vw;
  
}
#app {
  height:100%;
}

#bg {
  background-image: url('https://raw.githubusercontent.com/MatchaCrisp/pomodoro/main/src/img/nightsky.jpg');
  background-size: cover;
}
